<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Forms</h1>
      <app-template-driven></app-template-driven>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>Hello World!</h1>
      <hr>
      <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['']" [queryParams]="{analytics: 500}">Home</a> |
      </div>
      <input type="text" #id (input)="0"> |
      <a [routerLink]="['user', id.value]" routerLinkActive="active2">User</a>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--<app-databinding></app-databinding>-->
<!--<app-lifecycle *ngIf="!delete" [bindable]="boundValue">-->
  <!--<p #boundContent>{{test}}</p>-->
<!--</app-lifecycle>-->
<button (click)="delete = true">Delete</button>
<button (click)="test = 'Changed value'">Change ng-content</button>
<button (click)="boundValue = 2000">Change binding</button>
